.App {
  font-size: 1.2em;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* TODO: Think about media queries for mobile layout */

/* TODO: Push all text content 2em in */

.li-container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div1 {
  grid-area: 1 / 1 / 2 / 7;
  border-bottom: 6px solid #000000;
}
.div2 {
  grid-area: 2 / 1 / 7 / 4;
  border-right: 6px solid #000000;
}
.div3 {
  grid-area: 2 / 4 / 5 / 7;
  border-bottom: 6px solid #000000;
  text-align: center;
}
.div4 {
  grid-area: 5 / 4 / 7 / 7;
}

.li-sub-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.div5 {
  grid-area: 1 / 1 / 2 / 2;
  border-right: 6px solid #EDEDED;
}
.div6 {
  grid-area: 1 / 2 / 2 / 3;
  border-right: 6px solid #EDEDED;
}
.div7 {
  grid-area: 1 / 3 / 2 / 4;
}

/* TODO: Add CSS grid for logged out page too, this is currently just vanilla */
.lo-container {
  text-align: center;
}

.lo-heading {
  font-size: 4em;
  margin-bottom: 0.25em;
  margin-top: 4em;
}

.lo-subtitle {
  font-size: 2em;
  color: #787878;
}

.lo-btn {
  font-size: 2em;
  font-weight: bold;
  padding: 1.25em;
  width: 40%;
  background: linear-gradient(
    225.34deg,
    rgba(30, 215, 96, 0.25) 0%,
    rgba(255, 255, 255, 0.25) 101.17%
  );
  border: 6px solid #000000;
  box-sizing: border-box;
  transition: background 2s;
}

.lo-btn:hover {
  background: linear-gradient(
    82deg,
    rgba(30, 215, 96, 0.25) 0%,
    rgba(255, 255, 255, 0.25) 50%
  );
}

.li-form-label {
  font-weight: bold;
  font-size: 1.2em;
}

.li-form-input {
  border: 6px solid #000000;
  width: 65%;
  height: 45px;
  padding: 1em;
  color: #505050;
}
