.App {
  font-size: 1.2em;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* TODO: Think about media queries for mobile layout */

/* TODO: Push all text content 2em in */

.auth-parent {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.header {
  grid-area: 1 / 1 / 2 / 7;
  background-color: antiquewhite;
}

.body-left {
  grid-area: 2 / 1 / 6 / 4;
  background-color: coral;
}

.track-details {
  grid-area: 2 / 4 / 6 / 7;
  background-color: blue;
}

.sub-top-tracks {
  grid-area: 4 / 4 / 6 / 5;
  background-color: greenyellow;
}

.sub-related-artists {
  grid-area: 4 / 5 / 6 / 6;
  background-color: orangered;
}

.sub-featured-in {
  grid-area: 4 / 6 / 6 / 7;
  background-color: purple;
}